.item-details {
	padding: 1rem;
}

.item-image {
	width: 150px;
	height: 100%;
	margin-right: 1rem;
	border-radius: 10px;
}

.item-details .list-group-item {
	padding: 0.5rem;
}

.message-text {
	color: #c78f22;
}
